%h1 Listing clubs

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Logo
      %th
      %th
      %th

  %tbody
    - @clubs.each do |club|
      %tr
        %td= club.name
        %td= club.description
        %td= club.logo
        %td= link_to 'Show', club
        %td= link_to 'Edit', edit_club_path(club)
        %td= link_to 'Destroy', club, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Club', new_club_path
