.row
  %center
    %h1 All Reviews
  .col-lg-3
  .col-lg-6
    %br
    .top

    %br
    .middle
      %tbody
        - @reviews.each do |review|
          .middlee
            ="Name:"
            = review.name
            ="Group:"
            = review.group.name
            ="Content:"
            = review.content
            = review.user_id
            = link_to 'Show', review
            = link_to 'Edit', edit_review_path(review)
            = link_to 'Destroy', review, :method => :delete, :data => { :confirm => 'Are you sure?' }






