%p#notice= notice

%p
  %b Name:
  = @club.name
%p
  %b Description:
  = @club.description
%p
  %b Logo:
  = @club.logo

= link_to 'Edit', edit_admin_club_path(@club)
\|
= link_to 'Back', admin_clubs_path
