%h1 Listing announcements

%table
  %thead
    %tr
      %th Title
      %th Content
      %th
      %th
      %th

  %tbody
    - @announcements.each do |announcement|
      %tr
        %td= announcement.title
        %td= announcement.content
        %td= link_to 'Show', [:admin, announcement]
        %td= link_to 'Edit', edit_admin_announcement_path(announcement)
        %td= link_to 'Destroy', [:admin, announcement], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Announcement', new_admin_announcement_path
