%p
  %b Position:
  = @offer.position

  %b Description:
  = @offer.description
  
  %b Requinments:
  = @offer.requinments

  %p Recived applications:
  - @offer.apply_forms.each do |apply_form|
    %p= apply_form.CV_file_name

  %p Number of applications is
  %h2 
    = @offer.apply_forms.count    


%h3 Reply to thread
= render "apply_forms/form"

= link_to 'Edit', edit_offer_path(@offer)
\|
= link_to 'Back', offers_path
