= simple_form_for(@review) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :group
    = f.input :content
    %div#length-count 0/500

  .form-actions
    = f.button :submit
