%h1 Listing reviews

%table
  %thead
    %tr
      %th Name
      %th Group
      %th Content
      %th
      %th
      %th

  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.name
        %td= review.group_id
        %td= review.content
        %td= link_to 'Show', review
        %td= link_to 'Edit', edit_review_path(review)

%br
- if current_user
  = link_to 'New Review', new_review_path
