!!!
%html
  %head
    %title Vistula
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .row
      .col-lg-2
        Menu
        %ul
          %li= link_to 'Home', admin_root_path
          %li= link_to 'Log out', destroy_user_session_path, :method => :delete
          %li= link_to 'Announcements', admin_announcements_path
          %li= link_to 'New events', new_admin_event_path
      .col-lg-10
        = yield